@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


 <div class="row">

    <div class="col-lg-3">
        <span>
      State =   @Model?.Enrollment?.State

        </span>
        <form asp-page-handler="clearAllCourses" method="post">
            <button class="btn btn-default">Clear all courses</button>
        </form>
    </div>
    <div class="col-lg-1">
        <form asp-page-handler="Registration" method="post">
            <button class="btn btn-default">Registration</button>
        </form>
    </div>
    <div class="col-lg-1">
        <form asp-page-handler="completedEenrollment" method="post">
            <button class="btn btn-default">Completed</button>
        </form>
    </div>
     <div class="col-lg-1">
        <form asp-page-handler="payEenrollment" method="post">
            <button class="btn btn-default">Pay</button>
        </form>
    </div>
    </div>

       <form  id="courseForm" asp-page-handler="addCourseToEenrollment" method="post">
                </form>

  <div id="table" class="table"> 
      
      <table class="table"">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Year</th>
          <th>Semester</th>
          <th>mandatory</th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var course in Model.Courses)
        {
          <tr  > 
            <td >@course.Id</td>
            <td >@course.Name</td>
            <td >@course.Year</td>
            <td >@course.Semester</td>
            <td >@course.IsMandatory</td>

            <td>


                        <button type="submit"
                        name="id"
                        value="@course.Id"
                        form="courseForm"
                        asp-page-handler="addCourseToEenrollment"
                        class="btn btn-rounded btn-sm my-0">
                  Remove
                </button>

                @* <form  id="courseForm" asp-page-handler="addCourseToEenrollment" method="post">
                     <input type="hidden" name="id" value="@course.Id" />
                       <button  class="btn btn-default"   >Add</button>
                </form>*@
 
            </td>
          </tr>
        }
        </tbody>
      </table>
 
 



</div>
