@page
@using Sqlink.Uni.BL
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


 <div class="row">


     <div >
        <form asp-page-handler="Registration" method="post">
            <button   disabled="@(Model.GetOperetionDisabled(EnrollmentOperetion.CreateRegistration))" class="btn btn-default">Registration </button>
        </form>
    </div>
      
    <div  >
        <form asp-page-handler="completedEenrollment" method="post">
            <button   disabled="@(Model.GetOperetionDisabled(EnrollmentOperetion.Complete))" class="btn btn-default">Completed</button>
        </form>
    </div>
    <div  >
        <form asp-page-handler="clearAllCourses" method="post">
            <button   disabled="@(Model.GetOperetionDisabled(EnrollmentOperetion.ClearAllCourses))" class="btn btn-default">Clear all courses</button>
        </form>
    </div>
  
     <div  >
        <form asp-page-handler="cancelEenrollment" method="post">
            <button   disabled="@(Model.GetOperetionDisabled(EnrollmentOperetion.Cancel))" class="btn btn-default">Cancel</button>
        </form>
    </div>
     <div >
        <form asp-page-handler="payEenrollment" method="post">
            <button  disabled="@(Model.GetOperetionDisabled(EnrollmentOperetion.Pay))" class="btn btn-default">Pay</button>
        </form>
    </div>
     <div>
      <div style="padding-top:7px;"> |  Current State =   @(Model?.Enrollment?.State.ToString() ?? "not registered") | <span style="color:red;"> @(Model?.AlertMessaage)</span>  </div> 
     </div>
    
    </div>
     <div>
          <form  id="courseForm" asp-page-handler="addCourseToEenrollment" method="post">
                </form>
     </div>
      

  <div id="table" class="table"> 
      <span>Available Courses</span>

      <table class="table"">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Year</th>
          <th>Semester</th>
          <th>Mandatory</th>  
          <th>Time</th>   

          <th> </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var course in Model.Courses)
        {
          <tr  > 
            <td >@course.Id</td>
            <td >@course.Name</td>
            <td >@course.Year</td>
            <td >@course.Semester</td>
            <td >@course.IsMandatory</td>
            <td >@course.CourseRangeTime() </td>
            <td>
                        <button type="submit"
                         disabled="@(Model.GetOperetionDisabled(EnrollmentOperetion.AddCourse))"
                        name="id"
                        value="@course.Id"
                        form="courseForm"
                        asp-page-handler="addCourseToEenrollment"
                        class="btn btn-rounded btn-sm my-0">
                  Add
                </button>
            </td>
          </tr>
        }
        </tbody>
      </table>
</div>


<div>


    </div>


  <div id="table" class="table"> 
      <span>Selected Courses</span>

      <table class="table"">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Year</th>
          <th>Semester</th>
          <th>Mandatory</th>
          <th>Time</th>
          <th> &nbsp;&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var course in Model.EnrollmentCourses)
        {
          <tr  > 
            <td >@course.Id</td>
            <td >@course.Name</td>
            <td >@course.Year</td>
            <td >@course.Semester</td>
            <td >@course.IsMandatory</td>
            <td >@course.CourseRangeTime() </td>
            <td>&nbsp;&nbsp; </td>
          </tr>
        }
        </tbody>
      </table>
</div>